@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased min-h-screen flex items-center justify-center selection:bg-[#FF4A1C] selection:text-white sm:p-4 text-[#2A2B2A] bg-[#F8F4E3] font-sans;
  }
  #root {
    @apply w-full flex justify-center;
  }
}

/* Custom scrollbar hiding from the original HTML */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
